<div>
  <h2>{{ isEditMode ? 'Редактировать турнир' : 'Добавить турнир' }}</h2>
  <form [formGroup]="tournamentForm" (ngSubmit)="saveTournament()">
    <!-- Название -->
    <mat-form-field appearance="fill">
      <mat-label>Название</mat-label>
      <input matInput formControlName="name" placeholder="Название" required />
      <mat-error *ngIf="tournamentForm.get('name')?.invalid && tournamentForm.get('name')?.touched">
        Название обязательно.
      </mat-error>
    </mat-form-field>

    <!-- Призовой фонд -->
    <mat-form-field appearance="fill">
      <mat-label>Призовой фонд</mat-label>
      <input matInput formControlName="prizePool" type="number" placeholder="Призовой фонд" required />
      <mat-error *ngIf="tournamentForm.get('prizePool')?.invalid && tournamentForm.get('prizePool')?.touched">
        Призовой фонд должен быть положительным числом.
      </mat-error>
    </mat-form-field>

    <!-- Дата начала -->
    <mat-form-field appearance="fill">
      <mat-label>Дата начала</mat-label>
      <input matInput formControlName="startDate" type="date" placeholder="Дата начала" required />
      <span *ngIf="tournamentForm.errors?.['dateRangeInvalid']">
        {{ tournamentForm.errors?.['dateRangeInvalid'].message }}
      </span>
      <mat-error *ngIf="!tournamentForm.get('startDate')?.value && tournamentForm.get('startDate')?.touched">
        Дата начала обязательна.
      </mat-error>
    </mat-form-field>

    <!-- Дата окончания -->
    <mat-form-field appearance="fill">
      <mat-label>Дата окончания</mat-label>
      <input matInput formControlName="endDate" type="date" placeholder="Дата окончания" required />
      <span *ngIf="tournamentForm.errors?.['dateRangeInvalid']">
        {{ tournamentForm.errors?.['dateRangeInvalid'].message }}
      </span>
      <mat-error *ngIf="!tournamentForm.get('endDate')?.value && tournamentForm.get('endDate')?.touched">
        Дата окнчания обязательна
      </mat-error>
      <!-- Ошибка валидации обязательного поля -->
    </mat-form-field>

    <!-- Организатор -->
    <mat-form-field appearance="fill">
      <mat-label>Организатор</mat-label>
      <input matInput formControlName="organizer" placeholder="Организатор" required />
      <mat-error *ngIf="tournamentForm.get('organizer')?.invalid && tournamentForm.get('organizer')?.touched">
        Организатор обязателен.
      </mat-error>
    </mat-form-field>

    <!-- Кнопки -->
    <div>
      <button [disabled]="tournamentForm.invalid" (click)="saveTournament()">
        Сохранить
      </button>
      <button (click)="close()">Отмена</button>
    </div>
  </form>
</div>