<div class="container">
  <h1>Управление статистикой предметов в играх</h1>

  <!-- Список статистики -->
  <div class="grid-list">
    <div *ngFor="let gameItemStat of gameItemStats" class="card">
      <h3>Статистика #{{ gameItemStat.id }}</h3>
      <p>Статистика игры ID: {{ gameItemStat.gameStats.id }}</p>
      <p>Предмет: {{ gameItemStat.item.name }} {{ gameItemStat.item.cost }}</p>
      <p>Количество: {{ gameItemStat.quantity }}</p>
      <button class="edit" (click)="editGameItemStat(gameItemStat)">Редактировать</button>
      <button (click)="deleteGameItemStat(gameItemStat.id!)">Удалить</button>
    </div>
  </div>

  <!-- Кнопка для добавления новой статистики -->
  <button (click)="addGameItemStat()">Добавить статистику</button>
</div>