.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #444;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-height: 80vh; // Максимальная высота модального окна
    overflow-y: auto; // Прокрутка по вертикали если содержимое превышает высоту
    max-width: 500px;
    position: relative;
  }
  
  .modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }