<nav class="navbar">
  <div class="navbar-logo">
    <img [src]="logo" alt="Match Tracker Logo" />
  </div>
  <ul class="navbar-list">
    <li class="navbar-item">
      <a routerLink="/" routerLinkActive="active" class="navbar-link">Home</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/heroes" routerLinkActive="active" class="navbar-link">Heroes</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/items" routerLinkActive="active" class="navbar-link">Items</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/teams" routerLinkActive="active" class="navbar-link">Teams</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/tournaments" routerLinkActive="active" class="navbar-link">Tournaments</a>
    </li>
  </ul>
</nav>