<div class="container">
  <h1>Управление турнирами</h1>

  <!-- Список турниров -->
  <div class="grid-list">
    <div *ngFor="let tournament of tournaments" class="card">
      <h3>{{ tournament.name }}</h3>
      <p>Призовой фонд: ${{ tournament.prizePool.toLocaleString() }}</p>
      <p>Дата начала: {{ formatDate(tournament.startDate) }}</p>
      <p>Дата окончания: {{ formatDate(tournament.endDate) }}</p>
      <p>Организатор: {{ tournament.organizer }}</p>
      <button class="edit" (click)="editTournament(tournament)">Редактировать</button>
      <button (click)="deleteTournament(tournament.id!)">Удалить</button>
    </div>
  </div>

  <!-- Кнопка для добавления нового турнира -->
  <button (click)="addTournament()">Добавить турнир</button>
</div>