<div>
  <h2>{{ isEditMode ? 'Редактировать игрока' : 'Добавить игрока' }}</h2>
  <form [formGroup]="playerForm" (ngSubmit)="savePlayer()">
    <!-- Никнейм -->
    <mat-form-field appearance="fill">
      <mat-label>Никнейм</mat-label>
      <input matInput formControlName="nickname" placeholder="Никнейм" required />
      <mat-error *ngIf="playerForm.get('nickname')?.invalid && playerForm.get('nickname')?.touched">
        Никнейм обязателен.
      </mat-error>
    </mat-form-field>

    <!-- Настоящее имя -->
    <mat-form-field appearance="fill">
      <mat-label>Настоящее имя</mat-label>
      <input matInput formControlName="realName" placeholder="Настоящее имя" required />
      <mat-error *ngIf="playerForm.get('realName')?.invalid && playerForm.get('realName')?.touched">
        Настоящее имя обязательно.
      </mat-error>
    </mat-form-field>

    <!-- Выбор команды -->
    <mat-form-field appearance="fill">
      <mat-label>Выберите команду</mat-label>
      <mat-select formControlName="team" required>
        <mat-option value="" disabled>Выберите команду</mat-option>
        <mat-option *ngFor="let team of teams" [value]="team">
          {{ team.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="playerForm.get('team')?.invalid && playerForm.get('team')?.touched">
        Команда обязательна для выбора.
      </mat-error>
    </mat-form-field>

    <!-- Страна -->
    <mat-form-field appearance="fill">
      <mat-label>Страна</mat-label>
      <input matInput formControlName="country" placeholder="Страна" required />
      <mat-error *ngIf="playerForm.get('country')?.invalid && playerForm.get('country')?.touched">
        Страна обязательна.
      </mat-error>
    </mat-form-field>

    <!-- Роль -->
    <mat-form-field appearance="fill">
      <mat-label>Роль</mat-label>
      <input matInput formControlName="role" placeholder="Роль" required />
      <mat-error *ngIf="playerForm.get('role')?.invalid && playerForm.get('role')?.touched">
        Роль обязательна.
      </mat-error>
    </mat-form-field>
    <div>
      <button [disabled]="playerForm.invalid" (click)="savePlayer()">
        Сохранить
      </button>
      <button class="cancel-button" (click)="close()">Отмена</button>
      
    </div>
  </form>
</div>