<h2>{{ isEditMode ? 'Редактировать статистику предмета' : 'Добавить статистику предмета' }}</h2>
<form [formGroup]="gameItemStatsForm" (ngSubmit)="saveGameItemStat()">
  <!-- Выбор игры -->
  <select formControlName="gameId" required>
    <option value="" disabled>Выберите игру</option>
    <option *ngFor="let gameStat of gameStats" [ngValue]="gameStat.id">
      Игра #{{ gameStat.id }}
    </option>
  </select>

  <!-- Выбор предмета -->
  <select formControlName="itemId" required>
    <option value="" disabled>Выберите предмет</option>
    <option *ngFor="let item of items" [ngValue]="item.id">
      {{ item.name }}
    </option>
  </select>

  <!-- Количество предметов -->
  <input formControlName="quantity" type="number" placeholder="Количество" required />

  <button type="submit">Сохранить</button>
  <button type="button" (click)="close()">Отмена</button>
</form>